@import url("styles/header.css");


.imagem-banner{
    width: 30%;
}

.introducao{
    display: flex;
    justify-content: space-around;
}

.texto-introducao{
    width: 58%;
    
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.tema{
    font-size: 24px;
    font-weight: bold;
}

.premiacao{
    display: flex;
    justify-content: space-around;
}

.imagem-premiacao{
    width: 40%;
}

.texto-premiacao{
    width: 50%;
}

.imagem-rodape{
    width: 30%;
}

.rodape{
    background-color: green;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .cabecalho{
        background-image: linear-gradient(#a8eeaf, #fefffe);
    }

    .introducao{
        display: none;
    }

    .tema{
        font-size: 18px;
        color: blue;
        
    }

    .imagem-premiacao{
        width: 30%;
        height: 30%;
    }

    .Categorias{
        font-size: 14px;
    }

    .txt-prem{
        display: none;
    }

    .cat-desc{
        display: none;
    }

    .body-titulos{
        font-size: 16px;
        color:blue;
    }

    .rodape{
        background-color: rgb(160, 242, 160);
        
    }


}
