.Banner-cabecalho{
    width: 10%;
}


@media screen and (max-width: 1024px){
    .Banner-cabecalho-a{
        display: none;
    }

    .imagem-banner{
        display: none;
    }

    .tema{
        font-size: 16px;
    }

    .imagem-rodape{
        width: 5%;
    }


}