.cabecalho{
    background-image: linear-gradient(#05ad1b, #c1f3bf);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}


@media screen and (max-width: 1024px){    
    .Banner-cabecalho-t{
        display: none;
    }

    .Banner-cabecalho-a{
        width: 50%;
        height: 50%;
    }

    .imagem-banner{
        display: none;
    }

    .tema{
        font-size: 18px;
    }

    .imagem-premiacao{
        width: 10%;
    }


}